{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}


{% if user.is_authenticated %}


	{% if search %}
	    <form method="POST" class="post-form col-md-offset-4">{% csrf_token %}
	        {{ search|crispy }}
	    </form>
    {% endif %}

    <div class="row">

        {% for post in posts%}

        {% if post.x is True %}
        
            <div class="class col-md-6">
                <br><br>
                <div class="post">
                    

                    <h6>{{ post.published_date }}</h6> 

                    <a style = "text-decoration:none" href="{% url 'post_detail' pk=post.pk %}"><h2>{{ post.title }}</h2></a>

                    <p>{{ post.text|truncatechars:120|linebreaksbr }}</p>

                </div>

            </div>
            {% endif %}
        
        {% endfor %}

    
    </div>


<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>




<div class="lower_class">
    


    
</div>





{% endif %}



{% if user.is_authenticated is False %}

hello ! interested in sharing your thoughts?
then <a href="{% url 'signup' %}">join</a>
if you already have an account then<a href="{% url 'login' %}"> login</a>

{% endif %}





{% endblock %}