{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}


{% block content %}



    
<div class = "col-sm-6 col-sm-offset-3">
    





            <blockquote>
                <p>{{c.content}}</p>
                <footer>{{ c.user }} | {{ c.timestamp|timesince }} ago | 

                        {% if c.children.count > 0 %}
                            {{c.children.count}} comment{% if c.children.count > 1 %}s{% endif %} |
                        {% endif %}






                    </footer>
                    <hr/>
                    <div>
                        {% for child_comment in c.children%}

                            <blockquote>
                                
                                <p>{{child_comment.content}}</p>
                                <footer>{{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>

                            </blockquote>


                        {% endfor %}

                        <form method = "POST" action = ".">
                            {% csrf_token %}
                            {{form|crispy}}
                        <input type="hidden" name="parent_id" value = "{{ c.id }}">
                        <input type = "submit" value = "reply" class  ="btn btn-default">
                        </form>
                    </div>


                <br><br>




            </blockquote>
            

















</div>
   
    
{% endblock %}